cmake-build-debug-local/
cmake-build-debug-schizo/
project*-exampleIO/
makefile
.idea/
cmake-build-debug-system/cmake_install.cmake
cmake-build-debug-system/CMakeCache.txt
cmake-build-debug-system/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug-system/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
cmake-build-debug-system/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-system/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-system/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug-system/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-system/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug-system/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-system/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug-system/CMakeFiles/clion-environment.txt
cmake-build-debug-system/CMakeFiles/clion-log.txt
cmake-build-debug-system/CMakeFiles/cmake.check_cache
cmake-build-debug-system/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug-system/CMakeFiles/CMakeError.log
cmake-build-debug-system/CMakeFiles/CMakeOutput.log
cmake-build-debug-system/CMakeFiles/Makefile.cmake
cmake-build-debug-system/CMakeFiles/Makefile2
cmake-build-debug-system/CMakeFiles/progress.marks
cmake-build-debug-system/CMakeFiles/Project_1.dir/AddAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/build.make
cmake-build-debug-system/CMakeFiles/Project_1.dir/cmake_clean.cmake
cmake-build-debug-system/CMakeFiles/Project_1.dir/ColonAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/ColonDashAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/CommaAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/CommentAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/CXX.includecache
cmake-build-debug-system/CMakeFiles/Project_1.dir/Database.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/DatalogProgram.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/depend.internal
cmake-build-debug-system/CMakeFiles/Project_1.dir/depend.make
cmake-build-debug-system/CMakeFiles/Project_1.dir/DependInfo.cmake
cmake-build-debug-system/CMakeFiles/Project_1.dir/FactsAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/flags.make
cmake-build-debug-system/CMakeFiles/Project_1.dir/Graph.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Header.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/IdentifiersAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Interpreter.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/LeftParenAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Lexer.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/link.txt
cmake-build-debug-system/CMakeFiles/Project_1.dir/main.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/MultiplyAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Node.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Parameter.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Parser.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/PeriodAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Predicate.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/progress.make
cmake-build-debug-system/CMakeFiles/Project_1.dir/QueriesAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/QuestionMarkAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Relation.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/RightParenAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Rule.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/RulesAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/SchemesAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/StringAutomaton.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/StronglyConnectedComponent.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Token.cpp.o
cmake-build-debug-system/CMakeFiles/Project_1.dir/Tuple.cpp.o
cmake-build-debug-system/CMakeFiles/TargetDirectories.txt
cmake-build-debug-system/datalog.cbp
cmake-build-debug-system/Project_1
cmake-build-debug-system/Testing/Temporary/LastTest.log
